

@mixin flex($direction:row,$gap:0,$justify:space-between,$alignment:flex-start){
    display: flex;
    justify-content: $justify;
    align-items: $alignment;
    flex-direction: $direction;
    gap: $gap;
}

@mixin container{
    width:1580px;
    margin:0px auto;

    @media screen  and (max-width: 540px){
        width: 90%;
    }
}


@mixin media{
    @media screen  and (max-width: 540px){
        @content
    }
}