

.checkout_container{
    padding: 98px 0px 123px 0px;
    @include index.container;
    @include index.flex($gap:105px);
    @include index.media {
        @include index.flex($direction: column);
        padding-top: 24px;
        padding-bottom: 80px;
    }

    .form_container {

        flex-grow: 1;
        @include index.media {
            width: 100%;
        }

        h3{
            font-family: var(--font-poppins);
            font-size: 36px;
            font-weight: 600;
            @include index.media {
                font-size: 24px;
            }
        }

        form{
            margin-top: 36px;


            .form_container_inner{

                @include index.flex($gap:36px,$direction:column);

                .name_container{
                    @include index.flex($gap:31px);
                    width: 100%;
                    @include index.media {
                        @include index.flex($direction: column);
                    }
                }

            }
        }
    }

    .place_order_container{
        width: 768px;
        max-width: 100%;
        min-height: 789px;
        padding: 89px 38px 86px 38px;
        @include index.flex($direction:column,$justify:flex-start);
        @include index.media {
            padding: 0px;
            margin-top: 56px;
        }


        .place_order_upper{

            width: 100%;

            @include index.flex($direction:column);
             
            & div{
                width: 100%;
                @include index.flex();
            } 

            .product_header{
                color: #000;
                font-family: var(--font-poppins);
                font-size: 24px;
                font-weight: 500;
                @include index.media{
                    font-size: 20px;
                };
            }

            .product_product{

                margin-top: 14px;
                margin-bottom: 22px;

                .product{
                    color: #9F9F9F;
                    font-family: var(--font-poppins);
                    font-size: 16px;
                }

                .product_price{
                    color: #000;
                    font-family: var(--font-poppins);
                    font-size: 16px;
                }

            }

            .product_subtotal{

                .subtotal{
                    color: #000;
                    font-family: var(--font-poppins);
                    font-size: 16px;
                    font-weight: 400;
                }

                .subtotal_price{
                    color: #000;
                    font-family: var(--font-poppins);
                    font-size: 16px;
                    font-weight: 300;
                }

            }

            .product_total{

                margin-top: 16px;

                .total{
                    color: #000;
                    font-family: var(--font-poppins);
                    font-size: 16px;
                    font-weight: 400;
                }

                .total_total{
                    color: #B88E2F;
                    font-family: var(--font-poppins);
                    font-size: 24px;
                    font-weight: 700;
                }

            }
        }

        .divider{
            height: 1px;
            background-color: index.$gray;
            width: 100%;
            margin-top: 33px;
            margin-bottom: 23px;

        }

        .place_order_upper{

            @include index.flex($direction:column,$gap:18px);

            .radiobtnactive{

                & > div{
                    @include index.flex($justify:flex-start,$alignment:center,$gap:15px)
                }

                @include index.flex($direction:column);

                label{
                    color: #000;
                    font-family: var(--font-poppins);
                    font-size: 16px;
                    font-weight: 400;
                }

                .paymentinfo{
                    color: #9F9F9F;
                    text-align: justify;
                    font-family: var(--font-poppins);
                    font-size: 16px;
                    font-weight: 300;
                }

            }

            .privacy span{
                color: #000;
                text-align: justify;
                font-family: var(--font-poppins);
                font-size: 16px;
                font-weight: 300;

                &.privacy_policy{
                    font-size: 16px;
                    font-weight: 600;
                }
            }

            .placeholder_btn_container{
                @include index.flex($justify:center,$alignment:center);

                button{
                    width: 318px;
                    height: 64px;
                    border-radius: 15px;
                    border: 1px solid #000;
                    color: #000;
                    font-family: var(--font-poppins);
                    font-size: 20px;
                    font-weight: 400;
                    background-color: white;
                    line-height: 20px;
                }

            }

        }
    }
}

